// Common
// ======
//
// Optionated defaults.

*,
:before,
:after {
  box-sizing: border-box;
}

html {
  font: 13px/1.4 sans-serif;
}

// Remove text-shadow in selection highlight: h5bp.com/i
// Customize the background color to match your design.

::selection {
  background: rgba($color-blue, 0.2);
  text-shadow: none;
}
