// Button
// ======

.btn {
  @extend .btn.__m, .btn.__white;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;

  &:focus {
    box-shadow: 0 0 6px 2px rgba($color-yellow, 0.7);
    outline: 0;
  }

  &:disabled {
    cursor: default !important;
    opacity: 0.6;
    pointer-events: none;
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__m {
    @include font-height(13px, 16px);
    padding: 5px 12px;
  }

  &.__l {
    @include font-height(16px, normal);
    padding: 9px 16px;
  }

  &.__xl {
    @include font-height(18px, 22px);
    padding: 12px 24px;
  }

  // ### Colours

  &.__white {
    background: linear-gradient(#FFF, #EEE);
    border-color: #CCC #AAA #999;
    box-shadow: 0 1px 0 rgba(#000, 0.07);
    color: #333;

    &:hover:not(:disabled) {
      background: linear-gradient(#FFF, #f5f5f5);
    }

    &.__active,
    &:active:not(:disabled) {
      background: linear-gradient(#f5f5f5, #EEE);
      border-top-color: #888;
      box-shadow:
        inset 0 1px 3px -1px rgba(#000, 0.5),
        0 1px 0 rgba(#FFF, 0.2);
    }

    &.__active,
    &.__active:hover {
      background: linear-gradient(#FEA, #fff6d5);
    }
  }

  // ### Misc.

  &.__block {
    display: block;
    width: 100%;
  }
}
