// Grid
// ====

$grid-columns: (
  '\31 ',
  '\32 ',
  '\33 ',
  '\34 ',
  '\35 ',
  '\36 ',
  '\37 ',
  '\38 ',
  '\39 ',
  '\31 0',
  '\31 1',
  '\31 2',
);

$grid-columns-length: length($grid-columns);

$grid-column-width: (100% / $grid-columns-length);
$grid-gutter-half: $layout-gutter / 2;

.grid {
  @extend %clearfix;
  margin-left: -$grid-gutter-half;
  margin-right: -$grid-gutter-half;
}

%grid-columns-all {

  float: left;
  min-height: 1px;

  @if $grid-gutter-half != 0 {
    padding-left: $grid-gutter-half;
    padding-right: $grid-gutter-half;
  }
}

%grid-columns-push-pull {
  position: relative;
}

@for $i from 1 through $grid-columns-length {

  $escaped: nth($grid-columns, $i);

  .#{$escaped} {
    @extend %grid-columns-all;
    width: $i * $grid-column-width;
  }
}

@for $i from 1 to $grid-columns-length {

  $escaped: nth($grid-columns, $i);
  $grid-current-column-width: $i * $grid-column-width;

  .\+\+#{$i} {
    @extend %grid-columns-all;
    margin-left: $grid-current-column-width;
  }

  .#{$escaped}\+\+ {
    @extend %grid-columns-all;
    margin-right: $grid-current-column-width;
  }

  .\-\-#{$i} {
    @extend %grid-columns-push-pull;
    left: -$grid-current-column-width;
  }

  .#{$escaped}\-\- {
    @extend %grid-columns-push-pull;
    left: $grid-current-column-width;
  }
}
