// Link
// ====

%link,
.link {
  cursor: pointer;
}

%link,
.link,
.link_u {
  background-position: 0 95%;
  background-repeat: repeat-x;
  text-decoration: none;
}

// Modifiers
// ---------

%link,
.link {

  // ### Colors

  &.__black,
  &.__blue {

    &:hover {
      @include link-color($color-red);
    }
  }

  &.__black{
    @include link-color(#000);
  }

  &.__blue {
    @include link-color($color-blue);
  }

  // ### Styles
  // These are left empty and exist here only for reference.
  // Declarations are fully stated in the `link-color` mixin.

  &.__dashed {}

  // ### Complex link

  &.__complex {
    background: none !important;
  }
}
