// Link
// ====

.link {
  cursor: pointer;
}

.link,
.link_u {
  border-style: solid;
  border-width: 0 0 1px;
  text-decoration: none;
}

// Modifiers
// ---------

.link {
  @extend .link.__blue;

  // ### Colors

  &.__black,
  &.__blue {

    &:hover {
      @include link-color($color-red);
    }
  }

  &.__black{
    @include link-color(#000);
  }

  &.__blue {
    @include link-color($color-blue);
  }

  &.__white {
    @include link-color(rgba(#FFF, 0.9));

    &:hover {
      @include link-color(#FFF);
    }
  }

  // ### Styles

  &.__dashed {
    border-style: dashed;
  }

  // ### Complex link

  &.__complex {
    border-width: 0;

    // ### Expanded link

    &.__expanded {
      margin-bottom: -12px;
      margin-top: -12px;
      padding-bottom: 12px;
      padding-top: 12px;
    }
  }
}
