// Textbox
// =======

.txbox {
  @extend .txbox.__m, .txbox.__white;
  border-style: solid;
  border-width: 1px;
  cursor: text;
  display: block;
  transition: 0.33s opacity;
  width: 100%;

  &:focus {
    box-shadow: 0 0 6px 2px rgba($color-yellow, 0.7);
    outline: 0;
  }

  &.__invalid:not(:focus) {
    color: $color-red;
  }

  // Modifiers
  // ---------

  // ### Sizes

  &.__m {
    @include font-height(13px, 16px);
    padding: 5px 10px;
  }

  // ### Colours

  &.__white {
    border-color: #999 #BBB #DDD;
    box-shadow:
      inset 0 1px 1px rgba(#000, 0.1),
      0 1px 0 rgba(#FFF, 0.2);
  }
}

select.txbox {
  cursor: default;
}

textarea.txbox {
  resize: none;
}
