// Half-space
// ----------
//
// 100<span class="hs"></span>000
//

.hs {
  margin-left: 0.2em;
}

// Real half-space
// ---------------
//
// $<span class="hsr">&nbsp;</span>39.99
//

.hsr {
  font-size: 50%;
  line-height: 1;
}

// Hanging punctuation
// -------------------

@each $entity, $width in (
  'bdquo':  0.33em, // „
  'laquo':  0.56em, // «
  'ldquo':  0.33em, // “
  'lsaquo': 0.33em, // ‹
  'lsquo':  0.22em, // ‘
  'sbquo':  0.22em, // ‚
) {

  .h#{$entity} {
    margin-left: -$width;
  }

  .s#{$entity} {
    margin-right: $width;
  }
}

// Small Capitals

.small-caps {
  font-size: 0.925em;
  letter-spacing: 0.15em;
  margin-right: -0.15em;
}
