rules:
  indent: [2, 2]
  linebreak-style: [2, "unix"]
  quotes: [2, "single"]
  semi: [2, "always"]
globals:
  inject: true
env:
  amd: true
  browser: true
  jasmine: true
  protractor: true
  node: true
extends: "eslint:recommended"
