// Colors
$color-blue: #08C;
$color-red: #C00;
$color-yellow: #FC0;

// Font stacks
$consolas: Consolas, monospace;

// Font weights:
$thin:        100;
$extra-light: 200;
$ultra-light: 200;
$light:       300;
$normal:      400;
$regular:     400;
$medium:      500;
$semi-bold:   600;
$demi-bold:   600;
$bold:        700;
$extra-bold:  800;
$ultra-bold:  800;
$black:       900;
$heavy:       900;

// Layout
$layout-gutter: 20px;
