// Font face
// =========

@mixin font-face($family, $filename, $weight: normal, $style: normal) {

  $family-esc: escape-url($family);

  @font-face {
    font-family: $family;
    src: asset-url("#{$filename}.eot");
    src:
      asset-url("#{$filename}.eot?#iefix") format('embedded-opentype'),
      asset-url("#{$filename}.woff") format('woff'),
      asset-url("#{$filename}.ttf") format('truetype'),
      asset-url("#{$filename}.svg##{ $family-esc }") format('svg');
    font-weight: $weight;
    font-style: $style;
  }
}
