// Link color
// ==========

@mixin link-color($color) {

  &,
  & .link_u {
    background-image: inline-stroke(rgba($color, 0.2));
    color: $color;
  }

  &.__dashed,
  &.__dashed .link_u {
    background-image: inline-stroke(rgba($color, 0.2), 3px);
  }
}
