// Link color
// ==========

@mixin link-color($color) {

  &,
  & .link_u {
    border-bottom: 1px solid rgba($color, 0.2);
    color: $color;
  }

  &.__dashed,
  &.__dashed .link_u {
    border-bottom: 1px dashed rgba($color, 0.2);
  }
}
