// Position
// ========
//
// Shorthand notation for setting position of an element.
//
// The first parameter is optional and sets `position` of an element
// (`absolute`, `relative`, etc.)
//
// The second parameter is a space delimited list of offsets (`top`, `right`,
// etc.) that follows the standard CSS shorthand notation.
//
// Offsets passed as `none` are not being output.

@mixin position ($position, $coordinates: none) {

  @if type-of($position) == list {
    $coordinates: $position;
  } @else {
    position: $position;
  }

  @if $coordinates {
    $coordinates: unpack($coordinates);
    @include reject(top, nth($coordinates, 1), none);
    @include reject(right, nth($coordinates, 2), none);
    @include reject(bottom, nth($coordinates, 3), none);
    @include reject(left, nth($coordinates, 4), none);
  }
}
