// Text
// ====

// Alignment
// ---------

.align-c {
  text-align: center;
}

.align-j {
  text-align: justify;
}

.align-l {
  text-align: left;
}

.align-r {
  text-align: right;
}

// Misc.
// ----

.text-bound {
  max-width: 48em;
}
