// Grid
// ====

$grid-columns: 12 !default;

$grid-column-width: (100% / $grid-columns);
$grid-gutter-half: $layout-gutter / 2;

.grid {
  @extend %clearfix;
  margin-left: -$grid-gutter-half;
  margin-right: -$grid-gutter-half;
}

%grid-columns-all {
  float: left;
  min-height: 1px;

  @if $grid-gutter-half != 0 {
    padding-left: $grid-gutter-half;
    padding-right: $grid-gutter-half;
  }
}

%grid-columns-push-pull {
  position: relative;
}

@for $i from 1 through $grid-columns {

  .#{escape-css($i)} {
    @extend %grid-columns-all;
    width: $i * $grid-column-width;
  }
}

@for $i from 1 to $grid-columns {

  $grid-current-column-width: $i * $grid-column-width;

  .#{escape-css('++#{$i}')} {
    @extend %grid-columns-all;
    margin-left: $grid-current-column-width;
  }

  .#{escape-css('#{$i}++')} {
    @extend %grid-columns-all;
    margin-right: $grid-current-column-width;
  }

  .#{escape-css('--#{$i}')} {
    @extend %grid-columns-push-pull;
    left: -$grid-current-column-width;
  }

  .#{escape-css('#{$i}--')} {
    @extend %grid-columns-push-pull;
    left: $grid-current-column-width;
  }
}
