// Logotype
// ========

.logo {
  $svg-height: 24px;
  $svg-width: 77px;
  @extend .logo.__m;
  background-image: inline('project/logo/logo.svg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: inline-block;

  &:after {
    content: '';
    display: block;
    padding-top: 100% * ($svg-height / $svg-width);
  }

  // Modifiers
  // ---------

  &.__s {
    width: 102px;
  }

  &.__m {
    width: 154px;
  }
}
